@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

.content {
    height: 230vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parrafo1{
    padding: 0px 40px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-family: 'Balsamiq Sans', cursive;
}
.parrafo2{
    padding: 5px 5px;
    margin-left: 50px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    /* border: #000000 1px solid; */
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background: #fff82a;
    display: block;
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
}
.parrafo3{
    padding: 0px 40px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-family: 'Balsamiq Sans', cursive;
}
.registrate{
    height: 354px;
    width: 25rem;
    background: #000000;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 1rem;   
}
.registrate:hover{
    background: #26272B;
}
.contenedor{
    margin-top: 30px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    height: 60vh !important;
    background-size: cover;
}
.title {
    margin-bottom: 40px;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    margin-top: 150px;
    background: #02dbd0;
}
.btn1{
    display: inline-block;
    padding: 8px 60px;
    color: #fff;
    text-decoration: none;
    background: #ec5e6a;
}
.btn-home1 {
    display: flex;
    margin-left: 97px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
}
.btn-home1 a {
    margin: 0 10px;
}
.btn2{
    display: inline-block;
    padding: 8px 60px;
    border: 2px solid #ec5e6a;
    color: #fff;
    text-decoration: none;
    background: #ec5e6a;
}
.btn-home2 {
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
}
.btn-home2 a {
    margin: 0 10px;
}
.p {
    margin-bottom: 40px;
    font-size: 15px;
    color: #fff;
    padding: 0 100px;
    margin-top: 20px;
    font-family: 'Balsamiq Sans', cursive;
}
.sau {
    padding: 30px;
    background: #b3e5be51;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 400%;
}
.box-container .box {
    height: 356px;
    width: 399px;
    background: #000000;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 1rem;   
}
.box:hover{
    background: #26272B;
}
.box-container .box img {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ec5e6a;
    font-size: 2rem;
    margin-left: 290px;
    margin-top: 20px;
}
.h33{
    font-size: 40px;
    margin-top: -8px;
    font-family: 'Bebas Neue', cursive;
    color: #ec5e6a;
}
.h3{
    font-size: 50px;
    margin-top: 50px;
    margin-left: 5px;
    color: #ec5e6a;
    font-family: 'Bebas Neue', cursive;
}
.box-container .box p {
    padding: 0 15px;
    font-size: 21px;
}

@media (max-width: 768px) {
    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
}